<html lang='en'>

	<head>

		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0 minimum-scale=1.0'
		/>
		<title>SKINSC&#214;R</title>
		{{! Tailwind }}
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
		/>
		{{! Font Awesome }}
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
			integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		/>
		<link 
		rel="stylesheet" 
		href="https://fonts.googleapis.com/css?family=Finger+Paint" 
		/>

		{{! Compiled Tailwind }}
		<link href='/public/css/output.css' />
		<style>

			body { background-image: url(/public/images/ShadowedBackgroundlogin.jpg);
			background-size: cover; background-position: center;
			background-repeat: no-repeat; 
			font-family: 'Finger Paint', cursive;
			}

		</style>
	</head>
<header class="text-white p-.2 flex justify-between items-center w-screen fixed top-0 left-0 right-0 z-10 bg-black">
  <div class="flex items-center space-x-4 pl-4">
    <a href="/homepage" class="text-xl hover:text-yellow-400 text-yellow-200">Home</a>
    <a href="/login" class="text-xl hover:text-gray-300">Login</a>
    <a href="/gallery" class="text-xl hover:text-gray-300">Profile</a>
  </div>
  <div class="flex items-center">
    <img src="/public/images/logoSKINSCORE.png" class="h-22 w-44 pr-10 pt-2" alt="SKINSCORE Logo">
  </div>
</header>


	<body>

		<main>
			{{{body}}}
		</main>

		<script src='/public/js/logout.js'></script>

	  <div class="fixed bottom-0 left-0 w-full h- bg-black text-white">
    <div class="container mx-auto text-center">&copy; 2023 SKIN&#214;R</div>
  </div>

  <footer class="bg-black text-white py-4"></footer>
</body>
</html>