<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0" />
    <title>Skinscr&#214;r</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='/public/css/jass.css' />
    <link href='/public/css/style.css' />
    <style>
        body {
            background-image: url('/public/images/Skincore\ Background.jpg');
            background-size: cover;
        }

        @media (max-width: 1300px) {
            body {
                background-image: url('/public/images/Phone-tablet\ Background.jpg');
            }
        }
    </style>
</head>

<body class="h-screen flex justify-end items-center">

    <main>
        <div id="login-form">
            {{> login}}
        </div>
        <div id="signup-form" style="display:none;">
            {{> signup}}
        </div>
        {{{body}}}
    </main>

    {{!--
    <script src="/public/js/logout.js"></script> --}}
</body>

</html>