<html lang='en'>

	<head>

		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0 minimum-scale=1.0'
		/>
		<title>SKINSC&#214;R</title>
		{{! Tailwind }}
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
		/>
		{{! Font Awesome }}
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
			integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		/>
		<link 
		rel="stylesheet" 
		href="https://fonts.googleapis.com/css?family=Finger+Paint" 
		/>

		{{! Compiled Tailwind }}
		<link href='/public/css/output.css' />
		<style>

			body { background-image: url(/public/images/ShadowedBackgroundlogin.jpg);
			background-size: cover; background-position: center;
			background-repeat: no-repeat; 
			font-family: 'Finger Paint', cursive;
			}

		</style>
	</head>

	<!--Nav Bar-->
<header class="text-white p-.2 flex justify-between items-center w-screen fixed top-0 left-0 right-0 z-10 bg-black border-b-4 border-yellow-200">
  <div class="flex items-center space-x-4 pl-4">
	 <a class="flex items-center hover:text-gray-500" href="/gallery">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 hover:text-yellow-400 text-yellow-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          </a>
    <a href="/homepage" class="text-xl hover:text-gray-400">Home</a>
    <a href="/login" class="text-xl hover:text-gray-400">Login</a>
	<a href="/leaderboard" class="text-xl hover:text-gray-400">Leaderboard</a>
	<a href="/about" class="text-xl hover:text-gray-400">About</a>
  </div>
  <div class="flex items-center">
    <img src="/public/images/logoSKINSCORE.png" class="h-20 w-42 pr-10 pt-4" alt="SKINSCORE Logo">
  </div>
</header>

	<body>
		<main>
			{{{body}}}
		</main>

		<script src='/public/js/logout.js'></script>

	  <div class="fixed bottom-0 left-0 w-full h- bg-black text-white">
    <div class="container mx-auto text-center">&copy; 2023 SKIN&#214;R</div>
  </div>

  <footer class="bg-black text-white py-4"></footer>
</body>
</html>