<div class='py-20 bg-gray-300'>
	<div class='container mx-auto px-6 md:px-12 xl:px-32'>
		<div class='mb-16 text-center'>
			<h2
				class='mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl'
			>The Bootcamp Baddies</h2>
			<p class='text-gray-600 lg:w-8/12 lg:mx-auto'>Lorem ipsum dolor sit
				amet consectetur adipisicing elit. Quasi mollitia magni omnis
				sapiente reiciendis quisquam iusto libero voluptatem animi enim
				ad id asperiores possimus, soluta perspiciatis fugiat sed
				aliquid tempore?</p>
		</div>
		<div class='grid gap-8 items-center md:grid-cols-2'>

			<div class='space-y-4 text-center'>

				<img
					class='w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64'
					src='https://ca.slack-edge.com/T05BBRY8ZLZ-U05GJ80KMFV-047a4293881a-512'
					alt='Sam Milligan '
					loading='lazy'
					width='640'
					height='805'
				/>
				<div>
					<a href='https://github.com/samelimill' target='_blank'>
						<h4 class='text-2xl'>Sam Milligan </h4>
						<span class='block text-sm text-gray-500'>API Expert.<br
							/>
							When not listening to SunnO))), he's listening to
							SunnO))).
						</span>
					</a>
				</div>

			</div>

			<div class='space-y-4 text-center'>

				<img
					class='w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64'
					src='https://ca.slack-edge.com/T05BBRY8ZLZ-U05J5UTD5U0-6a4a53c4976e-512'
					alt='Jesse Warwick'
					loading='lazy'
					width='640'
					height='805'
				/>
				<div>
					<a href='https://github.com/jcwarwick' target='_blank'>
						<h4 class='text-2xl'>Jesse Warwick</h4>
						<span class='block text-sm text-gray-500'>Route Master.<br
							/>
							Often seen smashing his head against his keyboard.</span>
					</a>
				</div>

			</div>

			<div class='space-y-4 text-center'>

				<img
					class='w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64'
					src='https://ca.slack-edge.com/T05BBRY8ZLZ-U05HJ74UY3W-8acd2d0b044a-512'
					alt='Uriel Carillo'
					loading='lazy'
					width='640'
					height='805'
				/>
				<div>
					<a href='https://github.com/UCarr81' target='_blank'>
						<h4 class='text-2xl'>Uriel Carillo</h4>
						<span class='block text-sm text-gray-500'>UI/UX Prodigy.<br
							/>Quiet as a mouse, but his ideas are 10/10. Would
							idea again.</span>
					</a>
				</div>

			</div>

			<div class='space-y-4 text-center'>

				<img
					class='w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64'
					src='/public/images/jh.jpg'
					alt='Jeremiah Haynes'
					loading='lazy'
					width='640'
					height='805'
				/>
				<div>
					<a href='https://github.com/dsatpm' target='_blank'>
						<h4 class='text-2xl'>Jeremiah Haynes</h4>
						<span class='block text-sm text-gray-500'>Code Fiend.<br
							/>Cool as a cucumber, loose as a goose, and down to
							clown.
						</span>
					</a>
				</div>

			</div>

		</div>
	</div>
</div>