<div class='flex justify-center items-center h-screen float-right mx-64'>
	<form class='login-form'>
		<div class='w-96 p-6 shadow-2xl bg-white bg-opacity-50 rounded-2xl border-2 border-black'>
			<h1 class='text-black text-3xl block text-center font-semibold'><i
					class='fa-solid fa-syringe'
				></i>
				Login</h1>
			<hr class='mt-3' />
			<div class='mt-3'>
				<label
					for='username'
					class='block text-base mb-2'
				>Username</label>
				<input
					type='text'
					id='username-login'
					class='border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600 text-black'
					placeholder='Enter Username...'
				/>
			</div>
			<div class='mt-3'>
				<label
					for='password'
					class='block text-base mb-2'
				>Password</label>
				<input
					type='password'
					id='password-login'
					class='border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600 text-black'
					placeholder='Enter Password...'
				/>
			</div>
			<div class='mt-3 flex justify-between items-center'>
				<div>
					<a href='/signup' class='text-red-700 font-semibold'>New
						Here? Sign Up!</a>
				</div>
			</div>
			<div class='mt-5'>
				<button
					type='submit'
					class='border-2 border-black bg-yellow-200 text-black py-1 w-full rounded-md hover:bg-yellow-400 hover:text-black font-semibold'
					id='login'
				>Login</button>
			</div>
		</div>
	</form>
</div>

<script src='/public/js/login.js'></script>

