<div class='bg-gray-300 flex justify-center items-center h-screen'>
	<!-- Left: Image -->
	<div class='w-1/2 h-screen hidden lg:block'>
		<img
			src='/public/images/hero.jpg'
			alt='SKINSCOR'
			class='object-cover w-full h-full'
		/>
	</div>
	<!-- Right: Signup Form -->
	<div class='lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2 bg-gray-300'>
		<h1 class='text-2xl font-semibold mb-4'><i
				class='fa-solid fa-skull-crossbones'
			></i>
			Signup</h1>
		<form action='/signup' method='POST'>
					<!-- Username Input -->
			<div class='mb-4'>
				<label for='email' class='block text-gray-600'>Your Username</label>
				<input
					type='username'
					id='username-signup'
					name='username'
					class='w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-gray-500'
					autocomplete='off'
					placeholder='Enter Username...' required
				/>
			</div>
			<!-- Email Input -->
			<div class='mb-4'>
				<label for='email' class='block text-gray-600'>Your Email</label>
				<input
					type='email'
					id='email-signup'
					name='email'
					class='w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-gray-500'
					autocomplete='off'
					placeholder='Enter Email...' required
				/>
			</div>
			<!-- Password Input -->
			<div class='mb-4'>
				<label
					for='password'
					class='block text-gray-600'
				>Password</label>
				<input
					type='password'
					id='password-signup'
					name='password'
					class='w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-gray-500'
					autocomplete='off'
					placeholder='Enter Password...' required
				/>
			</div>
			<!-- Create Account Button -->
			<button
				type='submit'
				id='signup'
				class='mt-4 bg-gray-800 hover:bg-gray-900 text-white font-semibold rounded-md py-2 px-4 w-full'
			>Create Account</button>
		</form>
		<!-- Log in link -->
		<div class='mt-6 text-black text-center'>
			Have an account?
			<a href='/login' class='hover:underline text-blue-600'>Login</a>
		</div>
	</div>
</div>
<script src='/public/js/signup.js'></script>